body{
    background-color: #F4F6F9;
    margin: 0;
    padding: 0;
}


.nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    height: 8vh;
    width: 100%;
    margin-top: 3vh;
}

a{
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.home,.about,.con,.stu,.admin{
    color:#1E3A8A;
    text-align: center;
}

#btn1,#btn2{
    background-color: #1E3A8A;
    color: white;
    border-radius: 4rem;
    text-align: center;
    padding: 12px 28px;
    cursor: pointer;
    transition: all 0.3s ease;
}


#btn1:hover,#btn2:hover{
     background-color: rgb(20, 20, 150);
    box-shadow: 0 10px 20px rgba(33, 33, 190, 0.4);
    transform: translateY(-3px);
}


#btn1:active,#btn2:active{
   transform: scale(0.95);
}

.touch{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-start;
    background:#1E3A8A;
    border-radius:4rem;
    height:50vh;
    width:70%;
    padding-left:80px;
    transition:.4s;
    margin:8vh auto;
}

.title h1{
    margin:0;
    color:white;
    font-size:3rem;
}

.info p{
    margin-top:15px;
    color:#dbeafe;
    max-width:500px;
    line-height:1.5;
}

.touch:hover{
    transform:translateY(-10px);
    box-shadow:0 20px 40px rgba(37,99,235,.25);
}

.contact-section{
    display:flex;
    justify-content:space-evenly;
    margin-top:8vh;
    flex-wrap:wrap;
}



.cards{
    display:flex;
    gap:2rem;
}

.card{
    background-color: #EFF6FF;
    width:220px;
    padding:25px;
    border-radius:20px;
    box-shadow:0 10px 25px rgba(0,0,0,0.08);
    transition:.3s;
}

.card:hover{
    transform:translateY(-8px);
}

.card i{
    font-size:28px;
    color:#1E3A8A;
}

.card h3{
    margin-top:10px;
}

.card p{
    color:#555;
    font-size:0.8rem;
}

.card span{
    color:#2563EB;
    font-size:0.8rem;
    cursor:pointer;
}


.footer{
    text-align: center;
    background-color: black;
    font-size: 0.5rem;
    color: white;
    height: 5vh;
    width: 100%;
    padding-top: 1.0vh;
    margin-top: 20vh;

}