body{
    background-color: #F4F6F9;
    margin: 0;
    padding: 0;
}


.nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    height: 8vh;
    width: 100%;
    margin-top: 3vh;
}

a{
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.home,.about,.con,.stu,.admin{
    color:#1E3A8A;
    text-align: center;
}

#btn1,#btn2{
    background-color: #1E3A8A;
    color: white;
    border-radius: 4rem;
    text-align: center;
    padding: 12px 28px;
    cursor: pointer;
    transition: all 0.3s ease;
}


#btn1:hover,#btn2:hover{
     background-color: rgb(20, 20, 150);
    box-shadow: 0 10px 20px rgba(33, 33, 190, 0.4);
    transform: translateY(-3px);
}


#btn1:active,#btn2:active{
   transform: scale(0.95);
}

.footer{
    text-align: center;
    background-color: black;
    font-size: 0.5rem;
    color: white;
    height: 5vh;
    width: 100%;
    padding-top: 1.0vh;
    margin-top: 80vh;

}


.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 3.5rem;
    border: 2px solid transparent;
    height: 100vh ;
    width: 35vw;
    background-color: white;
    margin-left: 110vh;
    margin-top: 15vh;

}

.form:hover {
    border-color: rgb(33, 33, 190);
    box-shadow: 0 0 25px rgba(33, 33, 190, 0.4);
    transform: translateY(-5px);
}


.form{
    animation: bodyAppear 0.8s ease forwards;}

input {
    width: 70%;
    height: 3rem;
    border-radius: 4rem;
    border: 2px solid transparent;
    outline: none;
    font-size: 1rem;
    color: black;
    background-color: rgba(165, 158, 158, 0.4);
    padding-left: 2.5rem;
    padding-right: 2.9rem;
    text-align: center;

    transition:
        border-color 0.4s ease,
        box-shadow 0.4s ease,
        background-color 0.4s ease;
}


input:hover {
    border-color: rgba(33, 33, 190, 0.6);
    box-shadow: 0 0 10px rgba(33, 33, 190, 0.25);
}

input:focus {
    border-color: rgb(33, 33, 190);
    background-color: rgba(170, 155, 155, 0.25);
    box-shadow: 0 0 15px rgba(33, 33, 190, 0.35);
}


.input i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(33, 33, 190);
    font-size: 1.1rem;
}



button {
    height: 3rem;
    width: 12rem;
    font-size: 1rem;
    color: white;
    border-radius: 4rem;
    background-color: rgb(33, 33, 190);
    border: none;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    transition: all 0.3s ease;
}

button:hover {
    background-color: rgb(20, 20, 150);
    box-shadow: 0 10px 20px rgba(33, 33, 190, 0.4);
    transform: translateY(-3px);
}

button:active {
    transform: scale(0.95);
}


button i {
    color: white;
}




.choose{
    margin-right: 0.5rem;
}

#Welcome{
    text-align: center;
    margin-top: 8vh;
}



.upload{
  margin-bottom: 0.7vh;
   margin-right: -23.5vh;
   margin-left: 17vh;
   width: 100%;
}

.achivement{
   margin-left: 4.5vh;
   width: 100%;
}


.student-status{
    width:35vw;
    margin-left:100vh;
    margin-top:3vh;
}

.student-status h3{
    color:#1E3A8A;
}

.status-card{
    background:#fff;
    padding:15px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
    margin-bottom:15px;
}

.pending-text{
    color:#f59e0b;
    font-weight:600;
}

.attendance-details{
    background:#EFF6FF;
    padding:15px;
    border-radius:15px;

    display:flex;
    justify-content: space-between;
    align-items:flex-start;

    position: relative;
    top: -60px;  
}


.leftpanel{
    margin-top: -95vh;
}

.left-panel{
    width:50%;
    margin-left: 4vh;
    margin-top: 0;
    position: relative;
    top: 0;
}

.card{
    background:white;
    padding:25px;
    border-radius:20px;
    box-shadow:0 10px 30px rgba(0,0,0,.1);
    margin-top: 5vh;
}

.card2{
    background:white;
    padding:25px;
    border-radius:20px;
    box-shadow:0 10px 30px rgba(0,0,0,.1);
    margin-top: 5vh;
}


.green{
    color:#22c55e;
}

.progress{
    background:#e5edff;
    height:8px;
    border-radius:10px;
    margin-top:10px;
}

.progress-bar{
    width:24%;
    height:100%;
    background:#22c55e;
    border-radius:10px;
}

table{
    width:100%;
    border-collapse:collapse;
}

th,td{
    padding:10px;
    text-align:left;
}

.approved{
    background:#22c55e;
    color:white;
    padding:4px 10px;
    border-radius:10px;
}

.pending{
    background:#facc15;
    padding:4px 10px;
    border-radius:10px;
}



